nav {
    background-color: #1a1a1a;
}

nav a {
    color: white !important;
    font-weight: bold;
}

header {
    background-color: #0059b3;
    padding-top: 100px;
    padding-bottom: 75px;
}


#name {
    margin-top: 50px;
    margin-bottom: 20px;
    color:white;
    font-size: 500%;
}

header a.btn {
    background-color:#1a1a1a;
    color: white;
    font-size: 150%;
    margin: 7px 7px 7px 7px;
}

header a.btn:hover {
    background-color:#1a1a1a;
    color: white;
    transform: scale(1.1);
}

header p {
    margin-top: 25px;
    color: white;
    font-size: 200%;
    background-color:#1a1a1a;
    border-radius: 10%; 
}

h1,h2,h3,h4,h5,h6,p,li {
    font-family: 'Merriweather', serif;
}

section {}

.section-title {
    font-size: 400%;
    margin-bottom: 50px;
}

#portfolio {
    padding-top: 50px;
    margin-bottom: 50px;
}

#portfolio .jumbotron {
    background-color:#404040;
}

#about {
    background-color:#0059b3;
    padding-top: 50px;
    margin-bottom: 50px;
}
